.homeContainer{
    font-size: 7rem;
    color: var(--text-color);
    text-align: center;
    padding: 2.6rem;
}

.homeContainer h1{
    color: var(--primary-color);
    font-size: 3.6rem;
    text-align: center;
    margin-block: .8em;
    text-decoration: underline;
    font-weight: bold;
}

.homeContainer h2,
.brillandocon{
    font-size: 3rem;
    margin-bottom: 1em;
    margin-inline: auto;
    max-width: 80%;
}

.brillandocon{
    color: var(--primary-color);
    position: relative;
}

.brillandocon::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: right;
}

.brillandocon:hover::after{
    transition: transform 250ms ease-out;
    transform-origin: left;
    transform: scaleX(1);
}

.containerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.containerInfo__nosotros{
    padding: 2rem;
    max-width: 70%;
}

.containerInfo__nosotros--pregunta{
    font-size: 2.4rem;
}

.containerInfo__nosotros--respuesta{
    font-size: 2rem;
    margin-bottom: .9em;
}


.containerInfo__img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-inline: 2rem;
}


.plasticoPla{
    color: var(--primary-color);
    font-size: 2rem;
}