*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


/* Default Styles */
li{
  list-style: none;
}

a{
  text-decoration: none;
}

html{
  background: #c8c8c8;
  overflow-x: hidden;
  min-height: 100vh;
}


/* Variables */
:root{
  --white: #fff;
  --text-color: #1da1b0;
  --primary-color: #A13764;
}